
@import "tailwindcss";
@plugin "@tailwindcss/typography";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .prose {
    --tw-prose-body: var(--color-text);
    --tw-prose-headings: var(--color-primary);
    --tw-prose-links: var(--color-primary);
    --tw-prose-bold: var(--color-primary-light);
    --tw-prose-hr: var(--color-border);
    --tw-prose-code: var(--color-primary);
    max-width: fit-content; /* Optional: remove width limit */
  }

  .prose a:hover {
    color: var(--color-primary-light);
  }
}